.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: #000000b1;
    color: white;
    width: 100%;
}

.navbar .navbar_logo {
    font-size: 10px;
    font-weight: 1000;
}

.navbar .navbar_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

 .navbar_link {
    padding: 10px 20px;
    transition: 0.5s;
}

.navbar_link:hover {
    background-color: rgba(255, 255, 255, 0.199);
}